In [30]:
# The code was removed by Watson Studio for sharing.

  VAR00001          VAR00002          VAR00003
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [31]:
import pandas as pd
import numpy as np
import requests
import random
from sklearn.cluster import KMeans

Column names were changed to PostaCode, Borough, Neighborhood

In [32]:


df = df_canada.rename(columns={'VAR00001':'PostalCode', 'VAR00002':'Borough', 'VAR00003':'Neighborhood'})

Remove Not assigned Borough

In [33]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [48]:
df.head(5)

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

Substituting not assigned neighborhoods with the name of borough

In [44]:
df1 = df.loc[df['Neighborhood']=="Not assigned",'Neighborhood']=df.loc[df['Neighborhood']=="Not assigned",'Borough']

Joining Rows with the same Borough

In [49]:
df2=df.groupby(df['PostalCode']).agg(lambda x:','.join(set(x)))

In [50]:
df2.head(20)

                Borough                                       Neighborhood
PostalCode
M1B         Scarborough                                      Rouge,Malvern
M1C         Scarborough               Port Union,Rouge Hill,Highland Creek
M1E         Scarborough                    West Hill,Guildwood,Morningside
M1G         Scarborough                                             Woburn
M1H         Scarborough                                          Cedarbrae
M1J         Scarborough                                Scarborough Village
M1K         Scarborough          Ionview,East Birchmount Park,Kennedy Park
M1L         Scarborough                      Clairlea,Golden Mile,Oakridge
M1M         Scarborough      Cliffside,Cliffcrest,Scarborough Village West
M1N         Scarborough                         Birch Cliff,Cliffside West
M1P         Scarborough  Dorset Park,Wexford Heights,Scarborough Town C...
M1R         Scarborough                                   Wexford,Maryvale
M1S         Scarborough                                          Agincourt
M1T         Scarborough              Tam O'Shanter,Sullivan,Clarks Corners
M1V         Scarborough  Milliken,L'Amoreaux East,Agincourt North,Steel...
M1W         Scarborough                                    L'Amoreaux West
M1X         Scarborough                                        Upper Rouge
M2H          North York                                  Hillcrest Village
M2J          North York                         Henry Farm,Oriole,Fairview
M2K          North York                                    Bayview Village

In [51]:
df2.shape

(103, 2)

In [52]:

body = client_66e88c0fdc5e4d5b9e0e624f027bee86.get_object(Bucket='courseracapstone1-donotdelete-pr-43n9eddoanbh2n',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merge data from Toronto with latitude and longitude information

In [53]:
df3 =df_data_1.rename(columns={'Postal Code':'PostalCode'})

In [55]:
df3.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [63]:
df4 = df3.set_index(df3['PostalCode'], drop=True)
df4.head(10)

           PostalCode   Latitude  Longitude
PostalCode
M1B               M1B  43.806686 -79.194353
M1C               M1C  43.784535 -79.160497
M1E               M1E  43.763573 -79.188711
M1G               M1G  43.770992 -79.216917
M1H               M1H  43.773136 -79.239476
M1J               M1J  43.744734 -79.239476
M1K               M1K  43.727929 -79.262029
M1L               M1L  43.711112 -79.284577
M1M               M1M  43.716316 -79.239476
M1N               M1N  43.692657 -79.264848

In [64]:
df5 = pd.merge(df2, df4, right_index=True, left_index=True)

In [68]:
df6=df5.drop('PostalCode', axis=1)
df6.head(20)

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek",43.784535,-79.160497
M1E,Scarborough,"West Hill,Guildwood,Morningside",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
M1J,Scarborough,Scarborough Village,43.744734,-79.239476
M1K,Scarborough,"Ionview,East Birchmount Park,Kennedy Park",43.727929,-79.262029
M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
M1M,Scarborough,"Cliffside,Cliffcrest,Scarborough Village West",43.716316,-79.239476
M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848
M1P,Scarborough,"Dorset Park,Wexford Heights,Scarborough Town C...",43.757410,-79.273304
M1R,Scarborough,"Wexford,Maryvale",43.750072,-79.295849
M1S,Scarborough,Agincourt,43.794200,-79.262029
M1T,Scarborough,"Tam O'Shanter,Sullivan,Clarks Corners",43.781638,-79.304302
M1V,Scarborough,"Milliken,L'Amoreaux East,Agincourt North,Steel...",43.815252,-79.284577
M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
M1X,Scarborough,Upper Rouge,43.836125,-79.205636
M2H,North York,Hillcrest Village,43.803762,-79.363452
M2J,North York,"Henry Farm,Oriole,Fairview",43.778517,-79.346556
M2K,North York,Bayview Village,43.786947,-79.385975

Now, let's explore the data

In [73]:
from sklearn.cluster import DBSCAN
import sklearn.utils
from sklearn.preprocessing import StandardScaler
sklearn.utils.check_random_state(1000)
Clus_dataSet = df6[['Latitude','Longitude']]
Clus_dataSet = np.nan_to_num(Clus_dataSet)
Clus_dataSet = StandardScaler().fit_transform(Clus_dataSet)

# DBSCAN
db = DBSCAN(eps=0.15, min_samples=10).fit(Clus_dataSet)
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
core_samples_mask[db.core_sample_indices_] = True
labels = db.labels_
df6["Clus_Db"]=labels

realClusterNum=len(set(labels)) - (1 if -1 in labels else 0)
clusterNum = len(set(labels))

In [80]:
df6.describe()

         Latitude   Longitude  Clus_Db
count  103.000000  103.000000    103.0
mean    43.704608  -79.397153     -1.0
std      0.052463    0.097146      0.0
min     43.602414  -79.615819     -1.0
25%     43.660567  -79.464763     -1.0
50%     43.696948  -79.388790     -1.0
75%     43.745320  -79.340923     -1.0
max     43.836125  -79.160497     -1.0

In [81]:
df6.shape

(103, 5)

In [85]:
df6.hist

<bound method hist_frame of                      Borough  \
PostalCode
M1B              Scarborough
M1C              Scarborough
M1E              Scarborough
M1G              Scarborough
M1H              Scarborough
M1J              Scarborough
M1K              Scarborough
M1L              Scarborough
M1M              Scarborough
M1N              Scarborough
M1P              Scarborough
M1R              Scarborough
M1S              Scarborough
M1T              Scarborough
M1V              Scarborough
M1W              Scarborough
M1X              Scarborough
M2H               North York
M2J               North York
M2K               North York
M2L               North York
M2M               North York
M2N               North York
M2P               North York
M2R               North York
M3A               North York
M3B               North York
M3C               North York
M3H               North York
M3J               North York
...                      ...
M6C                     York
M6E                     York
M6G         Downtown Toronto
M6H             West Toronto
M6J             West Toronto
M6K             West Toronto
M6L               North York
M6M                     York
M6N                     York
M6P             West Toronto
M6R             West Toronto
M6S             West Toronto
M7A             Queen's Park
M7R              Mississauga
M7Y             East Toronto
M8V                Etobicoke
M8W                Etobicoke
M8X                Etobicoke
M8Y                Etobicoke
M8Z                Etobicoke
M9A                Etobicoke
M9B                Etobicoke
M9C                Etobicoke
M9L               North York
M9M               North York
M9N                     York
M9P                Etobicoke
M9R                Etobicoke
M9V                Etobicoke
M9W                Etobicoke

                                                 Neighborhood   Latitude  \
PostalCode
M1B                                             Rouge,Malvern  43.806686
M1C                      Port Union,Rouge Hill,Highland Creek  43.784535
M1E                           West Hill,Guildwood,Morningside  43.763573
M1G                                                    Woburn  43.770992
M1H                                                 Cedarbrae  43.773136
M1J                                       Scarborough Village  43.744734
M1K                 Ionview,East Birchmount Park,Kennedy Park  43.727929
M1L                             Clairlea,Golden Mile,Oakridge  43.711112
M1M             Cliffside,Cliffcrest,Scarborough Village West  43.716316
M1N                                Birch Cliff,Cliffside West  43.692657
M1P         Dorset Park,Wexford Heights,Scarborough Town C...  43.757410
M1R                                          Wexford,Maryvale  43.750072
M1S                                                 Agincourt  43.794200
M1T                     Tam O'Shanter,Sullivan,Clarks Corners  43.781638
M1V         Milliken,L'Amoreaux East,Agincourt North,Steel...  43.815252
M1W                                           L'Amoreaux West  43.799525
M1X                                               Upper Rouge  43.836125
M2H                                         Hillcrest Village  43.803762
M2J                                Henry Farm,Oriole,Fairview  43.778517
M2K                                           Bayview Village  43.786947
M2L                                   Silver Hills,York Mills  43.757490
M2M                                    Newtonbrook,Willowdale  43.789053
M2N                                          Willowdale South  43.770120
M2P                                           York Mills West  43.752758
M2R                                           Willowdale West  43.782736
M3A                                                 Parkwoods  43.753259
M3B                                           Don Mills North  43.745906
M3C                           Flemingdon Park,Don Mills South  43.725900
M3H             Bathurst Manor,Downsview North,Wilson Heights  43.754328
M3J                            Northwood Park,York University  43.767980
...                                                       ...        ...
M6C                                        Humewood-Cedarvale  43.693781
M6E                                       Caledonia-Fairbanks  43.689026
M6G                                                  Christie  43.669542
M6H                               Dovercourt Village,Dufferin  43.669005
M6J                                   Little Portugal,Trinity  43.647927
M6K                Parkdale Village,Exhibition Place,Brockton  43.636847
M6L                          Downsview,North Park,Upwood Park  43.713756
M6M               Keelesdale,Del Ray,Mount Dennis,Silverthorn  43.691116
M6N                              Runnymede,The Junction North  43.673185
M6P                              The Junction South,High Park  43.661608
M6R                                     Roncesvalles,Parkdale  43.648960
M6S                                         Runnymede,Swansea  43.651571
M7A                                              Queen's Park  43.662301
M7R                     Canada Post Gateway Processing Centre  43.636966
M7Y         Business Reply Mail Processing Centre 969 Eastern  43.662744
M8V                Mimico South,New Toronto,Humber Bay Shores  43.605647
M8W                                     Long Branch,Alderwood  43.602414
M8X               Montgomery Road,Old Mill North,The Kingsway  43.653654
M8Y         Mimico NE,Humber Bay,The Queensway East,Kingsw...  43.636258
M8Z         The Queensway West,Royal York South West,South...  43.628841
M9A                                          Islington Avenue  43.667856
M9B         Princess Gardens,Islington,West Deane Park,Clo...  43.650943
M9C         Markland Wood,Old Burnhamthorpe,Bloordale Gard...  43.643515
M9L                                             Humber Summit  43.756303
M9M                                           Humberlea,Emery  43.724766
M9N                                                    Weston  43.706876
M9P                                                 Westmount  43.696319
M9R         Kingsview Village,St. Phillips,Martin Grove Ga...  43.688905
M9V         Albion Gardens,Silverstone,Humbergate,Mount Ol...  43.739416
M9W                                                 Northwest  43.706748

            Longitude  Clus_Db
PostalCode
M1B        -79.194353       -1
M1C        -79.160497       -1
M1E        -79.188711       -1
M1G        -79.216917       -1
M1H        -79.239476       -1
M1J        -79.239476       -1
M1K        -79.262029       -1
M1L        -79.284577       -1
M1M        -79.239476       -1
M1N        -79.264848       -1
M1P        -79.273304       -1
M1R        -79.295849       -1
M1S        -79.262029       -1
M1T        -79.304302       -1
M1V        -79.284577       -1
M1W        -79.318389       -1
M1X        -79.205636       -1
M2H        -79.363452       -1
M2J        -79.346556       -1
M2K        -79.385975       -1
M2L        -79.374714       -1
M2M        -79.408493       -1
M2N        -79.408493       -1
M2P        -79.400049       -1
M2R        -79.442259       -1
M3A        -79.329656       -1
M3B        -79.352188       -1
M3C        -79.340923       -1
M3H        -79.442259       -1
M3J        -79.487262       -1
...               ...      ...
M6C        -79.428191       -1
M6E        -79.453512       -1
M6G        -79.422564       -1
M6H        -79.442259       -1
M6J        -79.419750       -1
M6K        -79.428191       -1
M6L        -79.490074       -1
M6M        -79.476013       -1
M6N        -79.487262       -1
M6P        -79.464763       -1
M6R        -79.456325       -1
M6S        -79.484450       -1
M7A        -79.389494       -1
M7R        -79.615819       -1
M7Y        -79.321558       -1
M8V        -79.501321       -1
M8W        -79.543484       -1
M8X        -79.506944       -1
M8Y        -79.498509       -1
M8Z        -79.520999       -1
M9A        -79.532242       -1
M9B        -79.554724       -1
M9C        -79.577201       -1
M9L        -79.565963       -1
M9M        -79.532242       -1
M9N        -79.518188       -1
M9P        -79.532242       -1
M9R        -79.554724       -1
M9V        -79.588437       -1
M9W        -79.594054       -1

[103 rows x 5 columns]>