In [30]:
# The code was removed by Watson Studio for sharing.

  VAR00001          VAR00002          VAR00003
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [31]:
import pandas as pd
import numpy as np
import requests
import random
from sklearn.cluster import KMeans

Column names were changed to PostaCode, Borough, Neighborhood

In [32]:


df = df_canada.rename(columns={'VAR00001':'PostalCode', 'VAR00002':'Borough', 'VAR00003':'Neighborhood'})

Remove Not assigned Borough

In [33]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [48]:
df.head(5)

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

Substituting not assigned neighborhoods with the name of borough

In [44]:
df1 = df.loc[df['Neighborhood']=="Not assigned",'Neighborhood']=df.loc[df['Neighborhood']=="Not assigned",'Borough']

Joining Rows with the same Borough

In [49]:
df2=df.groupby(df['PostalCode']).agg(lambda x:','.join(set(x)))

In [50]:
df2.head(20)

                Borough                                       Neighborhood
PostalCode
M1B         Scarborough                                      Rouge,Malvern
M1C         Scarborough               Port Union,Rouge Hill,Highland Creek
M1E         Scarborough                    West Hill,Guildwood,Morningside
M1G         Scarborough                                             Woburn
M1H         Scarborough                                          Cedarbrae
M1J         Scarborough                                Scarborough Village
M1K         Scarborough          Ionview,East Birchmount Park,Kennedy Park
M1L         Scarborough                      Clairlea,Golden Mile,Oakridge
M1M         Scarborough      Cliffside,Cliffcrest,Scarborough Village West
M1N         Scarborough                         Birch Cliff,Cliffside West
M1P         Scarborough  Dorset Park,Wexford Heights,Scarborough Town C...
M1R         Scarborough                                   Wexford,Maryvale
M1S         Scarborough                                          Agincourt
M1T         Scarborough              Tam O'Shanter,Sullivan,Clarks Corners
M1V         Scarborough  Milliken,L'Amoreaux East,Agincourt North,Steel...
M1W         Scarborough                                    L'Amoreaux West
M1X         Scarborough                                        Upper Rouge
M2H          North York                                  Hillcrest Village
M2J          North York                         Henry Farm,Oriole,Fairview
M2K          North York                                    Bayview Village

In [51]:
df2.shape

(103, 2)

In [52]:

body = client_66e88c0fdc5e4d5b9e0e624f027bee86.get_object(Bucket='courseracapstone1-donotdelete-pr-43n9eddoanbh2n',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merge data from Toronto with latitude and longitude information

In [53]:
df3 =df_data_1.rename(columns={'Postal Code':'PostalCode'})

In [55]:
df3.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [63]:
df4 = df3.set_index(df3['PostalCode'], drop=True)
df4.head(10)

           PostalCode   Latitude  Longitude
PostalCode
M1B               M1B  43.806686 -79.194353
M1C               M1C  43.784535 -79.160497
M1E               M1E  43.763573 -79.188711
M1G               M1G  43.770992 -79.216917
M1H               M1H  43.773136 -79.239476
M1J               M1J  43.744734 -79.239476
M1K               M1K  43.727929 -79.262029
M1L               M1L  43.711112 -79.284577
M1M               M1M  43.716316 -79.239476
M1N               M1N  43.692657 -79.264848

In [64]:
df5 = pd.merge(df2, df4, right_index=True, left_index=True)

In [68]:
df6=df5.drop('PostalCode', axis=1)
df6.head(20)

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek",43.784535,-79.160497
M1E,Scarborough,"West Hill,Guildwood,Morningside",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
M1J,Scarborough,Scarborough Village,43.744734,-79.239476
M1K,Scarborough,"Ionview,East Birchmount Park,Kennedy Park",43.727929,-79.262029
M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
M1M,Scarborough,"Cliffside,Cliffcrest,Scarborough Village West",43.716316,-79.239476
M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848
M1P,Scarborough,"Dorset Park,Wexford Heights,Scarborough Town C...",43.757410,-79.273304
M1R,Scarborough,"Wexford,Maryvale",43.750072,-79.295849
M1S,Scarborough,Agincourt,43.794200,-79.262029
M1T,Scarborough,"Tam O'Shanter,Sullivan,Clarks Corners",43.781638,-79.304302
M1V,Scarborough,"Milliken,L'Amoreaux East,Agincourt North,Steel...",43.815252,-79.284577
M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
M1X,Scarborough,Upper Rouge,43.836125,-79.205636
M2H,North York,Hillcrest Village,43.803762,-79.363452
M2J,North York,"Henry Farm,Oriole,Fairview",43.778517,-79.346556
M2K,North York,Bayview Village,43.786947,-79.385975

Now, let's explore the data

In [73]:
from sklearn.cluster import DBSCAN
import sklearn.utils
from sklearn.preprocessing import StandardScaler
sklearn.utils.check_random_state(1000)
Clus_dataSet = df6[['Latitude','Longitude']]
Clus_dataSet = np.nan_to_num(Clus_dataSet)
Clus_dataSet = StandardScaler().fit_transform(Clus_dataSet)

# DBSCAN
db = DBSCAN(eps=0.15, min_samples=10).fit(Clus_dataSet)
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
core_samples_mask[db.core_sample_indices_] = True
labels = db.labels_
df6["Clus_Db"]=labels

realClusterNum=len(set(labels)) - (1 if -1 in labels else 0)
clusterNum = len(set(labels))

In [80]:
df6.describe()

         Latitude   Longitude  Clus_Db
count  103.000000  103.000000    103.0
mean    43.704608  -79.397153     -1.0
std      0.052463    0.097146      0.0
min     43.602414  -79.615819     -1.0
25%     43.660567  -79.464763     -1.0
50%     43.696948  -79.388790     -1.0
75%     43.745320  -79.340923     -1.0
max     43.836125  -79.160497     -1.0

In [81]:
df6.shape

(103, 5)

In [77]:



for clust_number in set(labels):
    c=(([0.4,0.4,0.4]) if clust_number == -1 else colors[np.int(clust_number)])
    clust_set = df6[df6.Clus_Db == clust_number]                    
    my_map.scatter(clust_set.xm, clust_set.ym, color =c,  marker='o', s= 20, alpha = 0.85)
    if clust_number != -1:
        cenx=np.mean(clust_set.xm) 
        ceny=np.mean(clust_set.ym) 
        plt.text(cenx,ceny,str(clust_number), fontsize=25, color='red',)
        print ("Cluster "+str(clust_number)+', Avg Temp: '+ str(np.mean(clust_set.Tm)))

NameError: name 'my_map' is not defined