In [30]:
# The code was removed by Watson Studio for sharing.

  VAR00001          VAR00002          VAR00003
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [31]:
import pandas as pd
import numpy as np
import requests
import random
from sklearn.cluster import KMeans

Column names were changed to PostaCode, Borough, Neighborhood

In [32]:


df = df_canada.rename(columns={'VAR00001':'PostalCode', 'VAR00002':'Borough', 'VAR00003':'Neighborhood'})

Remove Not assigned Borough

In [33]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [48]:
df.head(5)

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

Substituting not assigned neighborhoods with the name of borough

In [44]:
df1 = df.loc[df['Neighborhood']=="Not assigned",'Neighborhood']=df.loc[df['Neighborhood']=="Not assigned",'Borough']

Joining Rows with the same Borough

In [49]:
df2=df.groupby(df['PostalCode']).agg(lambda x:','.join(set(x)))

In [50]:
df2.head(20)

                Borough                                       Neighborhood
PostalCode
M1B         Scarborough                                      Rouge,Malvern
M1C         Scarborough               Port Union,Rouge Hill,Highland Creek
M1E         Scarborough                    West Hill,Guildwood,Morningside
M1G         Scarborough                                             Woburn
M1H         Scarborough                                          Cedarbrae
M1J         Scarborough                                Scarborough Village
M1K         Scarborough          Ionview,East Birchmount Park,Kennedy Park
M1L         Scarborough                      Clairlea,Golden Mile,Oakridge
M1M         Scarborough      Cliffside,Cliffcrest,Scarborough Village West
M1N         Scarborough                         Birch Cliff,Cliffside West
M1P         Scarborough  Dorset Park,Wexford Heights,Scarborough Town C...
M1R         Scarborough                                   Wexford,Maryvale
M1S         Scarborough                                          Agincourt
M1T         Scarborough              Tam O'Shanter,Sullivan,Clarks Corners
M1V         Scarborough  Milliken,L'Amoreaux East,Agincourt North,Steel...
M1W         Scarborough                                    L'Amoreaux West
M1X         Scarborough                                        Upper Rouge
M2H          North York                                  Hillcrest Village
M2J          North York                         Henry Farm,Oriole,Fairview
M2K          North York                                    Bayview Village

            PostalCode      Borough                          Neighborhood
PostalCode
M1B                NaN  Scarborough                         Rouge,Malvern
M1C                NaN  Scarborough  Port Union,Rouge Hill,Highland Creek
M1E                NaN  Scarborough       West Hill,Guildwood,Morningside
M1G                NaN  Scarborough                                Woburn
M1H                NaN  Scarborough                             Cedarbrae